.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-700);
  height: 200px;
  gap: 0.5rem;
  padding: 1rem 0;
}

.header img {
  height: 2rem;
}

.header span {
  font-size: 2.5rem;
  font-weight: 900;
}

.title1 {
  color: var(--blue-300);
}
.title2 {
  color: var(--purple-600);
}